language: elixir

elixir:
  - 1.5.3

otp_release:
  - 20.2

services:
  - postgresql

before_script:
  - MIX_ENV=test mix event_store.setup
  - MIX_ENV=jsonb mix event_store.setup
  - epmd -daemon

script:
  - mix test.all

sudo: required
dist: trusty

addons:
  postgresql: "9.6"
