version: "3.3"

services:
  db:
    image: postgres
    environment:
      PGDATA: /pgtmpfs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    tmpfs:
      - "/pgtmpfs"

