INSERT INTO <%= schema %>.subscriptions
  (
    stream_uuid,
    subscription_name,
    last_seen
  )
VALUES ($1, $2, $3)
RETURNING subscription_id, stream_uuid, subscription_name, last_seen, created_at;
